@model HotelApp.Dtos.Location.CountryViewModel

<script src="~/js/fnOnChange.js"></script>
<script src="~/js/submitNewCountryWithCities.js"></script>

@using (Html.BeginForm("AddCountry", "Locations", FormMethod.Post))
{
    <table style="width: 50%">
        <tr>
            <th style="width: 40%">Country name</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td><input id="countryName" type="text" value="" placeholder="Enter country name"/></td>
            <td><input type="button" class="btn btn-success" value="Submit" onclick="submitForm()"/></td>
            <td id="errorContainer"></td>
        </tr>
    </table>
    <table id="cities">
        <thead>
            <tr>
                <th>Cities</th>
            </tr>
        </thead>
        <tbody id="cities">
            <tr>
                <td><input id="main" type="text" value="" placeholder="Enter city name" name="city0" onkeyup="changed(this.id, event)"/></td>
            </tr>
        </tbody>
    </table>
    @Html.ValidationSummary()
}



