@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<img src="https://ahseeit.com//king-include/uploads/2021/06/151211386_423869802024599_2268313936954642344_n-1777740926.jpg" />
